<% provide(:title) %>

<!DOCTYPE html>

<body>
	 <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    	
            <div class="bs-example">
              <div class="jumbotron">   		
                <center><h2>Want a better way to remember where your applications are installed?</h2></center>
              </div>
          </div>
     </div>  
     
	 <div class="row"><center><h2>JumpSquares</h2></center></div>
	 
	 <div class="row">
     		<div class="col-lg-12 col-lg-offset-3 col-md-12 col-md-offset-3 col-sm-12 col-sm-offset-2 col-xs-6 col-xs-offset-1">
	 	 
	  	    	<div id="apptypes">
	                <div class="apptype" style="float: left">
	                	<div class="mediumname">
	                		<%= link_to(truncate("JumpSquares Login", :length => 22), new_user_registration_path, :class => "popover-with-html", :title => "http://www.jumpsquares.net/users/sign_in", "data-content" => "Go ahead. Register and give it a go", :target => "_blank") %>		
						</div>
				      	<center>
				      		<%= link_to(image_tag("medium_jumpsquares_logo.png"), new_user_registration_path, :class => "popover-with-html", :title => "http://www.jumpsquares.net/users/sign_in", "data-content" => "Go ahead. Register and give it a go", :target => "_blank") %>
				      	</center>  
				      	<div class="mediumactions">
				      		<%= simple_format truncate("heroku", :length => 25) %>
					        <%= link_to "edit", "#" %> 	|
					        <%= link_to "remove", "#" %>
				      	</div>
				    </div>	
	  	    	</div>
	  	    	<div id="apptypes">
	                <div class="apptype" style="float: left">
	                	<div class="mediumname">
	                		<%= link_to(truncate("Main vCenter", :length => 22), new_user_registration_path, :class => "popover-with-html", :title => "https://mainvcenter.mycompany.com:9443/vsphere-client/", "data-content" => "Yep, you can point to internal addresses. DNS will take care of it.", :target => "_blank") %>		
						</div>
				      	<center>
				      		<%= link_to(image_tag("medium_vcenter.png"), new_user_registration_path, :class => "popover-with-html", :title => "https://mainvcenter.mycompany.com:9443/vsphere-client/", "data-content" => "Yep, you can point to internal addresses. DNS will take care of it.", :target => "_blank") %>
				      	</center>  
				      	<div class="mediumactions">
				      		<%= simple_format truncate("vcenter.mycompany.com", :length => 25) %>
					        <%= link_to "edit", "#" %> 	|
					        <%= link_to "remove", "#" %>
				      	</div>
				    </div>	
	  	    	</div>
	  	    	<div id="apptypes">
	                <div class="apptype" style="float: left">
	                	<div class="mediumname">
	                		<%= link_to(truncate("SSH My Linux Box", :length => 22), new_user_registration_path, :class => "popover-with-html", :title => "ssh://mylinuxbox.local", "data-content" => "JumpSquares goes beyond http requests. You can even open up SSH sessions in your browser with compatible plug-ins!", :target => "_blank") %>		
						</div>
				      	<center>
				      		<%= link_to(image_tag("medium_linux3.png"), new_user_registration_path, :class => "popover-with-html", :title => "ssh://mylinuxbox.local", "data-content" => "JumpSquares goes beyond http requests. You can even open up SSH sessions in your browser with compatible plug-ins!", :target => "_blank") %>
				      	</center>  
				      	<div class="mediumactions">
				      		<%= simple_format truncate("mylinuxbox.local", :length => 25) %>
					        <%= link_to "edit", "#" %> 	|
					        <%= link_to "remove", "#" %>
				      	</div>
				    </div>	
	  	    	</div>
	  	    	<div id="apptypes">
	                <div class="apptype" style="float: left">
	                	<div class="mediumname">
	                		<%= link_to(truncate("OpenStack Dashboard", :length => 22), new_user_registration_path, :class => "popover-with-html", :title => "http://openstack/project", "data-content" => "Use any name, any logo, and link it to anything internal or external to your network!", :target => "_blank") %>		
						</div>
				      	<center>
				      		<%= link_to(image_tag("medium_openstack.jpg"), new_user_registration_path, :class => "popover-with-html", :title => "http://openstack/project", "data-content" => "Use any name, any logo, and link it to anything internal or external to your network!", :target => "_blank") %>
				      	</center>  
				      	<div class="mediumactions">
				      		<%= simple_format truncate("anyserver.anywhere", :length => 25) %>
					        <%= link_to "edit", "#" %> 	|
					        <%= link_to "remove", "#" %>
				      	</div>
				    </div>	
	  	    	</div>
         	</div>	
     </div>

<div class="page-header"></div>   
   <div class="row">	
	   	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
	            <div class="bs-example">
	              <p>
	                <%= link_to "Video Tour", "#videotour", class: "btn btn-primary btn-lg btn-block" %>
	              </p>
	            </div>
	    </div>
	   	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
	            <div class="bs-example">
	              <p>
	                <%= link_to "Why?", "#why", class: "btn btn-primary btn-lg btn-block" %>
	              </p>
	            </div>
	    </div>
	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
	            <div class="bs-example">
	              <p>
	                <%= link_to "A Deeper Look", "#deeperlook", class: "btn btn-primary btn-lg btn-block" %>
	              </p>
	            </div>
	    </div>
	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
	            <div class="bs-example">
	              <p>
	                <%= link_to "Features", "#features", class: "btn btn-primary btn-lg btn-block" %>
	              </p>
	            </div>
	    </div>
	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
	            <div class="bs-example">
	              <p>
	              	<%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-lg btn-block", :method => :get %>
	
	              </p>
	            </div>
	    </div>
   </div>     

<div class="page-header"></div>  
<div class="row">
	 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    	
            <div class="panel panel-primary">
            	<div class="panel-heading"><center><strong><a name="videotour"><font color="white">Video Tour</font></a></strong></center></div>
              		<div class="panel-body">
   						<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12"> 
    						<div class="flex-video widescreen">
    							<iframe width="710" height="399" src="//www.youtube.com/embed/VBrI7Rq54n0" frameborder="0" allowfullscreen></iframe>
    						</div>
  						</div>
					</div> 
			</div> 
	</div>
</div> 

   
<div class="page-header"></div>  
   <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    	
            <div class="panel panel-primary">
				<div class="panel-heading"><center><strong><a name="why"><font color="white">Why?</font></a></strong></center></div>
              		<div class="panel-body">   		
                		<p>There's no such thing as a single pane of glass. Everything we interact with today has it's own UI. Performance 
                			monitoring applications, storage arrays, virtual infrastructures, enterprise application, etc all have their own management 
                			interfaces.</p>
                		<p>	So... do you fall into one of these categories? </p><UL>
							<li>You just started a new job and have no idea where anything is located</li>
							<li>You hire a contractor to come on-site and you have to point them to every application or baby sit them along the way</li>
							<li>You are constantly sending emails to your team asking where an application had been installed</li>
							<li>You have a very large datacenter environment and can't remember all the virtualization, storage, and network addresses</li>
							<li>There may be 100+ different applications in your environment and you want to keep track of what's out there.</li>
							<li>Maintaining excel documents and sharepoint sites suck</li>
							<li>Try organizing a couple hundred browser bookmarks</li>
						   </UL>	
							</p>
						<p>
						 The idea spawned because I had trouble keeping track of 6 VMware environments in our lab. Within those 6 environments, 
						 there were 100+ Applications. Bookmarks would have been messy and I got tired of sending emails trying to figure out 
						 what servers hosted which applications. 
						 </p>
						 <p>
						JumpSquares is your personal home for a new way to bookmark environments and keep track of all your applications by using search, sorting, and tagging capabilities. A simple concept,
						 but very useful.
						</p>
				   </div>
          	</div>
     	</div>  
   </div>
</div>
   
<div class="page-header"></div>
   <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    	
            <div class="panel panel-primary">
            	<div class="panel-heading"><center><strong><a name="deeperlook"><font color="white">A Deeper Look</font></a></strong></center></div>
              		<div class="panel-body">  
					  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">	
						<p>
						Creating a JumpSquare is very simple.<OL>
							<LI>Give your application a name</LI> 
							<LI>Choose an application logo from over 250+ products</LI>
							<LI>Enter the jump location with http(s):// or ssh://</LI>
							<LI>Enter the location of where the application is installed (internal or external)</LI>		
							<LI>Choose to tag this JumpSquare with anything meaningful (Microsoft, VMware, Staging, Production, India, whatever!)</LI>	
							<LI>Write a description that can contain anything you want</LI>	
						</OL>
						<p>
						On the surface, it's pretty bare but it holds some good information. Hover over the JumpSquare to reveal the
						 jump location as well as your description (only for desktop users). This example doesn't allow you to edit or delete the JumpSquare, but 
						 if you own the JumpSquare you can do anything you want.
						</p>
					  </div>
					     	<div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
					                <div id="apptypes">
					                	<div class="apptype" style="float: left">
						                	<div class="mediumname">
						                		<%= link_to(truncate("My Application", :length => 22), "http://www.jumpsquares.net", :class => "popover-with-html", :title => "http://www.kendrickcoleman.com", "data-content" => "sample description", :target => "_blank") %>		
											</div>
										      	<center>
										      		<%= link_to(image_tag("medium_sample_logo.jpg"), "http://www.jumpsquares.net", :class => "popover-with-html", :title => "http://www.kendrickcoleman.com", "data-content" => "sample description", :target => "_blank") %>
										      	</center>  
									      	<div class="mediumactions">
									      		<%= simple_format truncate("myserver.local", :length => 25) %>
										        <%= link_to "edit", "#" %> 	|
										        <%= link_to "remove", "#" %>
									      	</div>
								        </div>	
						  	        </div>
						    </div>		    	
				    </div>
			</div>
	  </div>
  </div>

<div class="page-header"></div>  
   <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    	
            <div class="panel panel-primary">
				<div class="panel-heading"><center><strong><a name="features"><font color="white">Features</font></a></strong></center></div>
              		<div class="panel-body">   		
                		<p>Features: </p><UL>
							<li>Built on twitter bootstrap for rails so it's pretty much mobile-ready</li>
							<li>Create, Edit, and Delete all your own JumpSquares</li>				
							<li>Jump locations (links) can be internal or external addresses. Your internal DNS server will do the name resolution</li>
							<li>Jump locations can be http://, https://, or even ssh:// when using the <a href="http://firessh.net/">FireSSH</a> plugin</li>
							<li>Customize the JumpSquare size to your liking. Change the image size as well as the character count to fit more or less JumpSquares on the screen</li>
							<li>Create your own Tags and assign multiple tags per JumpSquare</li>
							<li>Tags create an easy way categorize JumpSquares</li>
							<li>The hosted version doesn't allow you to upload your own Application Logos, but you can request one with a form after registering</li>
							<li>View and Edit open Application Logo Type requests</li>						
							<li>Manage your own account. Deleting your account will erase all your data</li>
							<li>All registered user passwords are stored in an encrypted and hashed format</li>
							<li>The administrator dashboard can't view another users JumpSquares', only the count of how many you have created. Gotta keep that private</li>
							<li>No "team" features are built-in. Just share a common username between a few individuals so you can act like it's a 'Wiki'</li>
						   </UL>	
							</p>
						<p>
						 I know some of you may be security cautious (even though internal DNS will do the name resolution), so in addition to the hosted version, I have created two virtual appliances. 
						 This way, it can be hosted internally and you don't have anything to worry about. We're supposed to be moving to the cloud anyway, 
						 so register first, give it a go, and see if you really need to deploy your own appliance. 
						 <p>
						 Differences in the two appliance versions: <ul>
						 <li><strong>"Wiki" version:</strong> removes authentication from the application. My original intention for this program was to create 
						 	a mix between Pinterest and a Wiki. Essentially creating a landing page where anyone can create, edit, update, and delete JumpSquares. 
						 	This allows a team to use it instead of just one individual. 
						 </li>
						 <li><strong>"Authentication" version:</strong> is pretty much exactly like this hosted version. It gives you the ability to create users, 
						 	give "admin" rights to users for Application Logo Type creation as well as many other privileges. There will be a bit more work for you 
						 	to deploy this internally to setup proper email alerts.
						 </li>
						 <li>The appliances will have 250+ AppType Logos included, but will allow you to create your own.</li>
						 <li>The appliances will not have a "Software Update" feature. You will have to run a bit of git/ruby code to update the application if 
						 	I ever add additional features. Doing a git -HARD might jack some of your data, so I do not take any responsibility if you do screw something up.</li>
						 <li>I take no responsibility in keeping the Debian (OS) appliance up to date with security patches. You're on your own</li>
						 <li>As a final note, I do not take any responsibility for anything you post on JumpSquares</li>
						 </ul>
						 </p>
						 <center><p> Please visit the <a href="http://kendrickcoleman.com/index.php/Ruby-on-Rails-Projects/jumpsquares-a-new-kind-of-bookmark.htmls">JumpSquares Project</a> page at <a href="http://www.kendrickcoleman.com">kendrickcoleman.com</a> to download the appliance versions and read more</p></center>
				   </div>
          	</div>
     	</div>  
   </div>
</div>

</body>

</html>
