<!DOCTYPE html>
<% provide(:title, 'Admin Dashboard') %>

<div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">    	
            <div class="panel panel-primary">
				<div class="panel-heading"><center><strong><span class="glyphicon glyphicon-stop" style="vertical-align:left"></span> <%= link_to "JumpSquares", jumpsquares_path, class: 'linkpanel' %></strong></center></div>
              		<div class="panel-body">   		
              			<ul class="list-group">
		                <li class="list-group-item">
		                  <span class="badge"><%= @jumpsquare_count %></span>
		                  JumpSquare Count
		              	</li>
		              	<li class="list-group-item">
		                  <span class="badge"><%= @jumpsquare_rdp_count %></span>
		                  Server as RDP
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @jumpsquare_ssh_count %></span>
		                  Server as SSH
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @jumpsquare_vnc_count %></span>
		                  Server as VNC
		                </li>
		                </ul>
          			</div>
     		</div>  
   		  </div>
   		  
   		  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">    	
            <div class="panel panel-primary">
				<div class="panel-heading"><center><strong><span class="glyphicon glyphicon-tags" style="vertical-align:left"></span> <%= link_to "Tags", tags_path, class: 'linkpanel' %></strong></center></div>
              		<div class="panel-body">   		
              			<ul class="list-group">
		                <li class="list-group-item">
		                  <span class="badge"><%= @tags_count %></span>
		                  Tag Count
		                </li>
		              	</ul>
          			</div>
     		</div>  
   		  </div>
   		  
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">    	
            <div class="panel panel-primary">
				<div class="panel-heading"><center><strong><span class="glyphicon glyphicon-th" style="vertical-align:left"></span> <%= link_to "AppTypes", apptypes_path, class: 'linkpanel' %></strong></center></div>
              		<div class="panel-body">   		
              			<ul class="list-group">
		                <li class="list-group-item">
		                  <span class="badge"><%= @apptypes_count %></span>
		                  AppType Count
		                </li>
		              	</ul>
          			</div>
     		</div>  
   		  </div>
   		  
   		  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">    	
            <div class="panel panel-primary">
				<div class="panel-heading"><center><strong><span class="glyphicon glyphicon-eye-open" style="vertical-align:left"></span> <%= link_to "Nmap Scan XML Files", nmapfiles_path, class: 'linkpanel' %></strong></center></div>
              		<div class="panel-body">   		
              			<ul class="list-group">
		                <li class="list-group-item">
		                  <span class="badge"><%= @nmapxml_count %></span>
		                  XML Count
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @nmaptotalrecord_count %></span>
		                  Total Records
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @nmapmissingrecord_count %></span>
		                  Missing Records
		                </li>
		              	</ul>
          			</div>
     		</div>  
   		  </div>

</div>
   		  