<!DOCTYPE html>
<% provide(:title, 'Admin Dashboard') %>

<div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">    	
            <div class="panel panel-primary">
				<div class="panel-heading"><center><strong><span class="glyphicon glyphicon-stop" style="vertical-align:left"></span> <%= link_to "JumpSquares", jumpsquares_path, class: 'linkpanel' %></strong></center></div>
              		<div class="panel-body">   		
              			<ul class="list-group">
		                <li class="list-group-item">
		                  <span class="badge"><%= @jumpsquare_count %></span>
		                  JumpSquares
		              	</li>
		              	<li class="list-group-item">
		                  <span class="badge"><%= @jumpsquare_rdp_count %></span>
		                  Server as RDP
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @jumpsquare_ssh_count %></span>
		                  Server as SSH
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @jumpsquare_vnc_count %></span>
		                  Server as VNC
		                </li>
		                </ul>
          			</div>
     		</div>  
   		  </div>
   		  
   		  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">    	
            <div class="panel panel-primary">
				<div class="panel-heading"><center><strong><span class="glyphicon glyphicon-tags" style="vertical-align:left"></span> <%= link_to "Tags", tags_path, class: 'linkpanel' %></strong></center></div>
              		<div class="panel-body">   		
              			<ul class="list-group">
		                <li class="list-group-item">
		                  <span class="badge"><%= @tags_count %></span>
		                  Tag Count
		                </li>
		              	</ul>
          			</div>
     		</div>  
   		  </div>
   		  
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">    	
            <div class="panel panel-primary">
				<div class="panel-heading"><center><strong><span class="glyphicon glyphicon-th" style="vertical-align:left"></span> <%= link_to "AppTypes", apptypes_path, class: 'linkpanel' %></strong></center></div>
              		<div class="panel-body">   		
              			<ul class="list-group">
		                <li class="list-group-item">
		                  <span class="badge"><%= @apptypes_count %></span>
		                  AppType Count
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @open_requests_count %></span>
		                  Open Requests
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @closed_requests_count %></span>
		                  Closed Requests
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @all_request_count %></span>
		                  Total Requests
		              	</ul>
          			</div>
     		</div>  
   		  </div>
   		  
   		  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">    	
            <div class="panel panel-primary">
				<div class="panel-heading"><center><strong><span class="glyphicon glyphicon-eye-open" style="vertical-align:left"></span> <%= link_to "Nmap Scan XML Files", nmapfiles_path, class: 'linkpanel' %></strong></center></div>
              		<div class="panel-body">   		
              			<ul class="list-group">
		                <li class="list-group-item">
		                  <span class="badge"><%= @nmapxml_count %></span>
		                  XML Count
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @nmaptotalrecord_count %></span>
		                  Total Records
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @nmapmissingrecord_count %></span>
		                  Missing Records
		                </li>
		              	</ul>
          			</div>
     		</div>  
   		  </div>
   		  
   		  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">    	
            <div class="panel panel-primary">
				<div class="panel-heading"><center><strong><%= link_to "Users", users_path, class: 'linkpanel' %></strong></center></div>
              		<div class="panel-body">   		
              			<ul class="list-group">
		                <li class="list-group-item">
		                  <span class="badge"><%= @users_count %></span>
		                  Total Users
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @admin_count %></span>
		                  Admin Users
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @users_unconfirmed_count %></span>
		                  Unconfirmed Users
		                </li>
		                <li class="list-group-item">
		                  <span class="badge"><%= @users_confirmed_count %></span>
		                  Confirmed Users
		                </li>
		              </ul>
          			</div>
     		</div>  
   		  </div>
</div>

<div class="row"></div>
<div class="row"></div>
<div class="row">
	 <div class="col-xs-6 col-sm-4 col-md-2">
	 <div class="clearfix visible-xs"></div>
	 	<%= form_tag :admindashboard, :method => :get do %>
                      		<%= hidden_field_tag :direction, params[:direction] %>
  							<%= hidden_field_tag :sort, params[:sort] %> 							
    						<%= text_field_tag :search, params[:search], {:class => "form-control col-lg-8", :placeholder => "Search"} %>
					  <% end %>  
	 </div>	
	 <div class="col-xs-6 col-sm-4 col-md-2">	      
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100">Sort By <b class="caret"></b></button>
					<ul class="dropdown-menu">
						<li><%= sort_link 'Email', :email %></li>
					</ul>
			</div>                   
	   </div>
  </div>	
</div>
<br>
<div class="row">
          <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 ">
            <div class="bs-example">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>User</th>

                    <th>JumpSquares</th>
                    <th>Tags</th>
                    <th>Open Requests</th>
                    <th>Nmap XMLs</th>
                  </tr>
                </thead>
                
                	<tbody>
					    <% @users.each do |user| %>
					      <tr>
					        <td><%= user.email %></td>

					        <td><%= @userjscount = Jumpsquare.where(:jscreator => user.email).count %></td>
					        <td><%= @usertagcount = Tag.where(:tagcreator => user.email).count %></td>
					        <td><%= @userappreqcount = ApptypeRequest.where(:apprequestor => user.email).count %></td>
					        <td><%= @usernmapxmlcount = Nmapfile.where(:nmapfilecreator => user.email).count %></td>
					      </tr>
					    <% end %>
					  </tbody>
                  
                
              </table>
            </div>
          </div>
        </div>
      </div>
       <center><%= will_paginate @users, renderer: BootstrapPagination::Rails %></center>
       
</html>
   		  