<!DOCTYPE html>
<% provide(:title, 'Password Recovery') %>
<center><div class="alert"><%= notice %><%= alert %></div></center>	
	<div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="well">
            	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  				<%= devise_error_messages! %>

                <fieldset>
                  <legend>Forgot your password?</legend>
                  <div class="form-group">
                  	<%= f.label :email, "Email Address:", :class => "col-lg-3 control-label" %>        
                    <div class="col-lg-7">
                      <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email"  %>	 
                    </div>
                  </div>
                  
                  <center>
	                  <div class="form-group">
	                    
	                      <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
	                    
	                  </div>
	                  <%= render "devise/shared/links" %>
                  </center>	 
                </fieldset>
              
            </div>
          </div>
        </div>
<% end %>


</html>
