<!DOCTYPE html>
<% provide(:title, "Nmap XML Scan Files") %>

<div class="row">
	 <div class="col-xs-6 col-sm-4 col-md-2">
	 <div class="clearfix visible-xs"></div>
	 	<%= form_tag nmapfiles_path, :method => :get do %>
                      		<%= hidden_field_tag :direction, params[:direction] %>
  							<%= hidden_field_tag :sort, params[:sort] %> 							
    						<%= text_field_tag :search, params[:search], {:class => "form-control col-lg-8", :placeholder => "Search"} %>
					  <% end %>  
	 </div>	
	 <div class="col-xs-6 col-sm-4 col-md-2">	      
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100">Sort By <b class="caret"></b></button>
					<ul class="dropdown-menu">
						<li><%= sort_link 'Name', :nmapfilename %></li>
						<li><%= sort_link 'Date', :created_at %></li>
						<li><%= sort_link 'Total Records', :nmapfilerecords %></li>
						<li><%= sort_link 'Missing Records', :nmapfilename %></li>
					</ul>
			</div>                   
	   </div>
  	</div>	
  	<div class="col-xs-6 col-sm-4 col-md-2 pull-right">
  		<%= link_to new_nmapfile_path, class: "btn btn-primary", :method => :get do %>
	        <span class="glyphicon glyphicon-eye-open" style="vertical-align:left"></span> Upload Nmap XML
	    <% end %>
     </div>
</div>
	
<br>

<div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="tables"><span class="glyphicon glyphicon-eye-open" style="vertical-align:left"></span> Nmap Scan XMLs</h1>
				<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#NmapXMLModal">How to Perform a Nmap Scan and Upload the XML</button>
            </div>
            <div class="bs-example">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>XML Name</th>
				    <th>Uploaded Day/Time</th>
				    <th>Total Records</th>
				    <th>Missing JumpSquares</th>
				    <th>Delete</th>
				    
                  </tr>
                </thead>
                
                	<tbody>
                		<% require 'nmap/xml' %>
					    <% @nmapfiles.each do |nmapfile| %>
					    <% nmapfile.nmapfilerecords = 0 %>
                		<% nmapfile.nmapfilematches = 0 %>
                		<% actualmatches = 0 %>
					    	<% Nmap::XML.new("#{Rails.root}/public/" + nmapfile.nmapxml.to_s) do |xml| %>
					    		<% xml.each_host do |host| %>
					    		<% if "#{host.status}" == "down" %>
					    		<% else %>
					    			<% if Jumpsquare.where(:ipordns => "#{host.ip}").find do %>
					    				<% actualmatches += 1 %>
					    				<% end %>
							    	<% elsif Jumpsquare.where(:ipordns => "#{host.hostnames}".delete('\"\[\]')).find do %>
							    		<% actualmatches += 1 %>
							    		<% end %>
					    			<% else %>
					    				
					    			<% end %>
					    		<% nmapfile.nmapfilerecords += 1 %>
					    		<% end %>
								<% end %>
								<% nmapfile.nmapfilematches = nmapfile.nmapfilerecords - actualmatches %>
								<% nmapfile.save %>
						 	<% end %>
						      <tr>
						        <td><%= link_to nmapfile.nmapfilename, nmapfile_xmlviewer_path(nmapfile), class: "btn btn-primary btn-xs btn-block", :method => :get %></td>
						        <td><%= nmapfile.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
						        <td><%= nmapfile.nmapfilerecords %></td>
						        <td><%= nmapfile.nmapfilematches %></td>						        
						        <td><%= link_to 'Delete', nmapfile, method: :delete, data: { confirm: "Delete '#{nmapfile.nmapfilename}' Nmap Scan? " }, class: "btn btn-danger btn-xs" %></td>
						        
						      </tr>
						    <% end %>
					  </tbody>
                  
                
              </table>
            </div>
          </div>
        </div>
      </div>
       <center><%= will_paginate @nmapfiles, renderer: BootstrapPagination::Rails %></center>
       
       <div id="NmapXMLModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="NmapXMLModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">                
                    <div class="modal-header">
                   <a class="close" data-dismiss="modal">×</a>
                   <h3>How to Perform a Nmap Scan and Upload the XML</h3>
                 </div>
                 <div class="modal-body">
                   	  <p><a href="http://nmap.org/"><font color="18bc9c">Nmap</font></a> is a free tool used to perform port scanning on a network. To get started, <a href="http://nmap.org/download.html"><font color="18bc9c">download
                   	  	Nmap</font></a> for Windows, Mac, or Linux and install it on your system.
                   	  </p>
                      <p><u>Mac & Linux users:</u><br>
                      	Open up a terminal session and change your current directory to a desktop location or somewhere easy to navigate.
                      </p>
                      <p><u>For Windows users:</u><br>
                      	Open up a command (cmd)/DOS Window and change to the directory you installed Nmap into (cd "\Program Files (x86)\Nmap"). 
                      		On Windows releases prior to Windows 7, specify \Program Files\Nmap instead. If you execute Nmap frequently, please <a href="http://nmap.org/book/inst-windows.html"><font color="18bc9c">read this</font></a>.
                      </p>
                      <p><ul>
                      	<li>Type the following (Mac & Linux used may need 'sudo' for root): </li>
                      		<dl><b>nmap -sS -O -v 192.168.10.* -oX output.xml</b></dl>
                      </p></ul>
                      <p>Executing this command will do a stealth scan against the entire 192.168.10.0/24 subnet and save the scan to output.xml. Change the .xml name if preferred. 
                      		The subnet style can be replaced with <a href="http://nmap.org/book/man-examples.html"><font color="18bc9c">different paramters</font></a>. The 
                      		length of time will depend on the amount of hosts and the amount of open ports. Go grab a beer (or coffee).
                      </p>
                      <p>After the scan has completed, <a href="/nmapfiles/new"><font color="18bc9c">Upload the Nmap Scan XML</font></a> to analyze missing JumpSquare entries based on DNS and IP. 
                      	If a JumpSquare has not been configured for a DNS or IP address entry, click on "Create JumpSquare", which 
                      	open the JumpSquare creation form. The DNS or IP address will be pre-populated for you.
                      </p>
                      	
                 </div>
                 <div class="modal-footer">
                   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                 </div>
               </div>
              </div>
             </div>
       
</html>
