<!DOCTYPE html>
		<div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="well">
           
              <%= form_for @jumpsquare, :html => {:class => "form-horizontal"} do |f| %>
				  <% if @jumpsquare.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@jumpsquare.errors.count, "error") %> prohibited this jumpsquare from being saved:</h2>
				
				      <ul>
				      <% @jumpsquare.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>        
                <fieldset>
                  <legend>JumpSquare</legend>
                  <div class="form-group">
                  	<%= f.label :name, "Application Name:", :class => "col-lg-4 control-label" %>     
                    <div class="col-lg-7">
                      <%= f.text_field :name, :class => "form-control" %>	 
                    </div>
                  </div>
                  <br>                  
                  <div class="form-group">
                  	<%= f.label :apptype, "Choose an application type:", :class => "col-lg-4 control-label" %>
                    <div class="col-lg-7">
                      <%= f.collection_select :apptype, Apptype.find(:all).sort_by{|p| p.name.downcase},:id, :name, {include_blank: false}, {class: "form-control"} %>
                    </div>
                  </div>                 
                  <br>                 
                  <div class="form-group">
                  	<%= f.label :url, "Enter the Jump Location:", :class => "col-lg-4 control-label" %>
                  	
                    <div class="col-lg-7">
                      <%= f.text_field :url, :class => "form-control" %>
                      <center>
                      <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#linkModal">How to Enter Proper JumpSquare Links</button>
                      </center>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                  	<%= f.label :ipordns, "Enter the IP Address or DNS Name of the host server:", :class => "col-lg-4 control-label" %>
                    <div class="col-lg-7">
                      <%= f.text_field :ipordns, :class => "form-control" %>
                    </div>              
                  </div>
 				  <div class="form-group">
 				  	<%= f.label :remotetype, "Remote Server Access:", :class => "col-lg-4 control-label" %>
                    <div class="col-lg-7">
                      <%= f.radio_button :remotetype, "none",:checked => true, :id=>"none" %>
                      <label for="none" class="label label-primary">None</label>  |  
                      <%= f.radio_button :remotetype, "rdp", :id=>"rdp" %>
                      <label for="rdp" class="label label-primary">RDP</label>  |  
                      <%= f.radio_button :remotetype, "ssh", :id=>"ssh" %>
                      <label for="ssh" class="label label-primary">SSH</label>	| 
                      <%= f.radio_button :remotetype, "vnc", :id=>"vnc" %>
                      <label for="vnc" class="label label-primary">VNC</label>
                      <br><br><center>
                      <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#remoteModal">How Remote Server Access Works</button>
                      </center>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                  	<%= f.label :tag, "Choose a tag(s) (optional):", :class => "col-lg-4 control-label" %>
                    <div class="col-lg-7">
                      <%= select_tag :tag, options_from_collection_for_select(Tag.find(:all).sort_by{|p| p.tagname.downcase}, :id, :tagname, @jumpsquare.tags.map{ |j| j.id }).html_safe, multiple: true, class: 'form-control' %>                   
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                  	<%= f.label :description, "Enter a description for the application:", :class => "col-lg-4 control-label" %>
                    <div class="col-lg-7">
                      <%= f.text_area :description, :class => "form-control" %>                     
                    </div>
                  </div>

                  <center>
	                  <div class="form-group">	                  	                  
	                      <%= f.submit class: 'btn btn-primary'%>	                    
	                  </div> 
<% end %>	                              
	                  <%= link_to 'Back', :back %> |
					  <%= link_to 'Home', :userroot %>       
                  </center>
                </fieldset>
             
            </div>
          </div>
        </div>

			<div id="linkModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">                
                    <div class="modal-header">
                   <a class="close" data-dismiss="modal">×</a>
                   <h3>How to Enter Proper JumpSquare Links</h3>
                 </div>
                 <div class="modal-body">
                   	  <p>Web: include http:// or https://<br>
                   	  	- ex. https://myvcenter.mydomain.com:9443/vsphere-client/
                   	  </p>
                      <p>SSH: include ssh://<br>
                      	- browser requires <a href="http://firessh.net/"><font color="18bc9c">FireSSH</font></a> plugin for Firefox and Chrome. Only Firefox will work because the Chrome version is a Chrome App<br>
                      	- ex. ssh://10.40.2.1
                      </p>
                      <p>RDP: include rdp://<br>
                      	- Windows requires <a href="http://rogierg.blogspot.com/2007/03/run-vnc-and-rdp-from-hyperlinks.html"><font color="18bc9c">custom registry change</font></a>. Mac requires <a href="http://cord.sourceforge.net/index.html"><font color="18bc9c">CoRD</font></a></p>
                 </div>
                 <div class="modal-footer">
                   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                 </div>
               </div>
              </div>
             </div>  
			
			<div id="remoteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">                
                    <div class="modal-header">
                   <a class="close" data-dismiss="modal">×</a>
                   <h3>How Remote Server Access Works</h3>
                 </div>
                 <div class="modal-body">
                   	 <p>You can access the server that is hosting an application by creating two links in the same JumpSquare. When you enter an IP Address or DNS Name of 
				    	the server where an application is installed, you have already made the first step.</p>
				     <p>By default, 'None' is selected which doesn't create a hyperlink to the server.</p>
				     <p>If 'RDP' is selected, a 'servername.rdp' file is generated and available for download. Click 'open' from the download prompt and it will 
				    	automatically open your RDP client. Works on both Mac and PC (not tested on linux). Do NOT add 'rdp://' or anything else to the server name.</p>
				     <p>If 'SSH' is selected, your browser requires the <a href="http://firessh.net/"><font color="18bc9c">FireSSH</font></a> plugin. Do NOT add 'ssh://' to the server name</p>
				     <p>If 'VNC' is selected, clicking on the link will open up a new tab in your browser pointing to servername:5800. This method has been tested 
				    	with <a href="http://www.tightvnc.com/"><font color="18bc9c">TightVNC</font></a> and <a href="http://www.ralvnc.com/"><font color="18bc9c">RealVNC</font></a> (Enterprise license was tested, does not work on free license). The VNC software installed on the server requires the ability to render 
				    	VNC over HTML5 on Port 5800. Java is required for TightVNC and RealVNC. Tested and works on Windows. Tested and failed to load Java on Mac. Port 5800 is the only
				    	 one that can be used at this time.
                   	  </p>
                 </div>
                 <div class="modal-footer">
                   <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                 </div>
               </div>
              </div>
             </div>  

</html>