<!DOCTYPE html>
<% provide(:title, 'Home') %>
    
<div class="row">
	 <div class="col-xs-6 col-sm-4 col-md-2">
	 <div class="clearfix visible-xs"></div>
	 	<%= form_tag jumpsquares_path, :method => :get do %>
                      		<%= hidden_field_tag :direction, params[:direction] %>
  							<%= hidden_field_tag :sort, params[:sort] %> 							
    						<%= text_field_tag :search, params[:search], {:class => "form-control col-lg-8", :placeholder => "Search"} %>
					  <% end %>  
	 </div>	
	 <div class="col-xs-6 col-sm-4 col-md-2">	      
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100">Sort By <b class="caret"></b></button>
					<ul class="dropdown-menu">
						<li><%= sort_link 'Name', :name %></li>
						<li><%= sort_link 'Application Type', :apptype %></li>
						<li><%= sort_link 'IP or DNS', :ipordns %></li>
						<li><%= sort_link 'Jump URL', :url %></li>
					</ul>
			</div>                   
	   </div>
  	</div>	
   <div class="col-xs-6 col-sm-4 col-md-2 pull-right">
  		<%= link_to new_jumpsquare_path, class: "btn btn-primary", :method => :get do %>
	        <span class="glyphicon glyphicon-stop" style="vertical-align:left"></span> New JumpSquare
	    <% end %>
   </div>
</div>
	
<br>
<div class="row">
	<div class="col-sm-2 col-md-2"
		 <strong>Tags</strong>
	 	<% @tags.each do |tag| %>
	      <tr>
	        <div style="padding-right: 1px; padding-bottom: 1px">
	        <% tagcount = tag.jumpsquares.count %>
	        <% if tagcount > 0 %>
	        <td><%= button_to tag.tagname + " [" + tag.jumpsquares.count.to_s + "]", tag_path(tag.id), class: "btn btn-success btn-xs", :method => :get  %></td>
	        <% else %>
	        <% end %>								
	        </div>
	      </tr>
	    <% end %>
    
	</div>

	<div class="col-sm-10 col-md-10">
	<div id="apptypes">
		
				
			<% @jumpsquares.each do |jumpsquare| %>
			    <div class="apptype" style="float: left">
			    	
			     <% if @jumpsizes.first.size == "xsmall" %>
					<div class="xsmallname">
				 <% elsif @jumpsizes.first.size == "small" %>
					<div class="smallname">
				 <% elsif @jumpsizes.first.size == "medium" %>
					<div class="mediumname">
				 <% elsif @jumpsizes.first.size == "large" %>
					<div class="largename">
				 <% elsif @jumpsizes.first.size == "xlarge" %>
					<div class="xlargename">
				 <% end %>
				 
				 	<% if jumpsquare.url == '' %>
					 		<%= truncate(jumpsquare.name, :length => @jumpsizes.first.length1) %>		
						</div>
				      	<center>
				      		<% apptype_id = Apptype.find(jumpsquare.apptype) %>
				      		<%= image_tag(apptype_id.image_url(@jumpsizes.first.size)) %>
				      	</center>
				 	<% else %>
							<%= link_to(truncate(jumpsquare.name, :length => @jumpsizes.first.length1), jumpsquare.url, :class => "popover-with-html", :title => jumpsquare.url, "data-content" => jumpsquare.description, :target => "_blank") %>		
						</div>
				      	<center>
				      		<% apptype_id = Apptype.find(jumpsquare.apptype) %>
				      		<%= link_to(image_tag(apptype_id.image_url(@jumpsizes.first.size)), jumpsquare.url, :class => "popover-with-html", :title => jumpsquare.url, "data-content" => jumpsquare.description, :target => "_blank") %>
				      	</center>     	
			     	<% end %>
			     	
			     <% if @jumpsizes.first.size == "xsmall" %>
					<div class="xsmallactions">
				 <% elsif @jumpsizes.first.size == "small" %>
					<div class="smallactions">
				 <% elsif @jumpsizes.first.size == "medium" %>
					<div class="mediumactions">
				 <% elsif @jumpsizes.first.size == "large" %>
					<div class="largeactions">
				 <% elsif @jumpsizes.first.size == "xlarge" %>
					<div class="xlargeactions">
				 <% end %>	
					<% if jumpsquare.remotetype == 'none' %>
				    	<%= truncate(jumpsquare.ipordns, :length => @jumpsizes.first.length2) %>
				    	<br>
				    	<br>
				    <% elsif jumpsquare.remotetype == 'rdp' %>
				    	<%= link_to truncate(jumpsquare.ipordns, :length => @jumpsizes.first.length2), createrdpfile_jumpsquare_path(jumpsquare), :class => "popover-with-html", :title => "RDP", "data-content" => "RDP to " + jumpsquare.ipordns %>
				    	<br>
				    	<br>
				    <% elsif jumpsquare.remotetype == 'ssh' %>
				    	<% sshaddress = "ssh://" + jumpsquare.ipordns.to_s %>
				    	<%= link_to truncate(jumpsquare.ipordns, :length => @jumpsizes.first.length2), sshaddress, :class => "popover-with-html", :title => "SSH", "data-content" => "SSH to " + jumpsquare.ipordns, :target => "_blank" %>
				    	<br>
				    	<br>
				    <% elsif jumpsquare.remotetype == 'vnc' %>
				    	<% vncaddress = "http://" + jumpsquare.ipordns.to_s + ":5800" %>
				    	<%= link_to truncate(jumpsquare.ipordns, :length => @jumpsizes.first.length2), vncaddress, :class => "popover-with-html", :title => "VNC", "data-content" => "VNC to " + jumpsquare.ipordns, :target => "_blank" %>
				    	<br>
				    	<br>
				    <% else %>
				    	<%= truncate(jumpsquare.ipordns, :length => @jumpsizes.first.length2) %>
				    	<br>
				    	<br>
				    <% end %>
				        <%= link_to "edit", edit_jumpsquare_path(jumpsquare, :ipordns => jumpsquare.ipordns) %> 	|
				        <%= link_to "remove", jumpsquare, method: :delete, data: {confirm: "Delete '#{jumpsquare.name}' JumpSquare? "} %>
			      	</div>
			    </div>	
			  <% end %>	
	   
	  <div class="clearfix"></div>
	  	      
	</div>
	</div>
</div>
<center><%= will_paginate @jumpsquares, renderer: BootstrapPagination::Rails %></center>
<br>
</html>
