<div class="row">
	 <div class="col-xs-6 col-sm-4 col-md-2 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
	 <div class="clearfix visible-xs"></div>
	 	<%= form_tag apptype_requests_path, :method => :get do %>
                      		<%= hidden_field_tag :direction, params[:direction] %>
  							<%= hidden_field_tag :sort, params[:sort] %> 							
    						<%= text_field_tag :search, params[:search], {:class => "form-control col-lg-8", :placeholder => "Search"} %>
					  <% end %>  
	 </div>	
	 <div class="col-xs-6 col-sm-4 col-md-2">	      
		<div class="btn-toolbar">
			<div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100">Sort By <b class="caret"></b></button>
					<ul class="dropdown-menu">
						<li><%= sort_link 'Requester', :apprequestor %></li>
						<li><%= sort_link 'Application Name', :appname %></li>
						<li><%= sort_link 'Completed', :completed %></li>
					</ul>
			</div>                   
	   </div>
  	</div>	
  	<div class="col-xs-6 col-sm-4 col-md-2 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
  		<% if current_user.has_role? :admin %>
  			<%= link_to new_apptype_request_path, class: "btn btn-primary", :method => :get do %>
	        	<span class="glyphicon glyphicon-th" style="vertical-align:left"></span> Request Application Type
	    	<% end %> 
  			<%= link_to new_apptype_path, class: "btn btn-primary", :method => :get do %>
	        	<span class="glyphicon glyphicon-th" style="vertical-align:left"></span> New Application Type
	    	<% end %>
     	<% else %>
			<%= link_to new_apptype_request_path, class: "btn btn-primary", :method => :get do %>
	        	<span class="glyphicon glyphicon-th" style="vertical-align:left"></span> Request Application Type
	    	<% end %>
		<% end %>
	</div>
</div>

<div class="row">
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
          	
            <div class="page-header">
              <h1 id="tables"><span class="glyphicon glyphicon-asterisk" style="vertical-align:left"></span> AppType Requests</h1>
            </div>
            <div class="bs-example">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
					<th>Requester</th>
					<th>Application Name</th>
				    <th>Image URL</th>		    
				    <th>Completed?</th>
                    <th></th>
                    <% if current_user.has_role? :admin %>
                    <th></th>
                    <th></th>
                    <% else %>
                    <% end %>
                  </tr>
                </thead>
                
                	<tbody>
					    <% @apptype_requests.each do |apptype_request| %>
					      <tr>
					        <td><%= apptype_request.apprequestor %></td>
					        <td><%= apptype_request.appname %></td>
					        <td><%= apptype_request.imageurl %></td>					        
					        <td><%= apptype_request.completed %></td>
					        <td><%= link_to 'Edit', edit_apptype_request_path(apptype_request), class: "btn btn-warning btn-xs" %></td>
					        <% if current_user.has_role? :admin %>
					        <td><%= link_to 'Show', apptype_request, class: "btn btn-primary btn-xs" %></td>
					        <td><%= link_to 'Destroy', apptype_request, method: :delete, class: "btn btn-danger btn-xs" %></td>
					        <% else %>
                    		<% end %>
					      </tr>
					    <% end %>
					  </tbody>
                  
                
              </table>
            </div>
          </div>
        </div>
      </div>
      <center><%= will_paginate @apptype_requests, renderer: BootstrapPagination::Rails %></center>
</html>
