
  <div class="bs-docs-section clearfix">
  	 <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
            </div>
 		</div>
 	</div>
 </div>
 
 <div class="navbar navbar-default navbar-fixed-top">
 	<div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
	         <%= link_to image_tag("medium_jumpsquares_logo.png", :height => '25', :width => '25'), :root, class: "navbar-brand" %>
		     <%= link_to "JumpSquares", :root, class: "navbar-brand" %>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        
        
        
        <div class="navbar-collapse collapse pull-right nav-collapse" id="navbar-main">              
          <ul class="nav navbar-nav">
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="settings"><span class="glyphicon glyphicon-plus-sign" style="vertical-align:left"></span><span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="settings">
              	<li><%= link_to new_jumpsquare_path do %>
              		<span class="glyphicon glyphicon-stop" style="vertical-align:left"></span> JumpSquare
              		<% end %>
              	</li>
              	<li><%= link_to new_tag_path do %>
              		<span class="glyphicon glyphicon-tag" style="vertical-align:left"></span> Tag
              		<% end %>
              	</li>
              	<li><%= link_to new_apptype_path do %>
              		<span class="glyphicon glyphicon-th" style="vertical-align:left"></span> AppType
              		<% end %>
              	</li>
              	<li><%= link_to new_nmapfile_path do %>
              		<span class="glyphicon glyphicon-eye-open" style="vertical-align:left"></span> Nmap Scan XML
              		<% end %>
              	</li>
              </ul>
            </li>
            
            <li>
               <li><%= link_to "Help", :help %></li>
            </li>
            
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="settings">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="settings">
              	<li><%= link_to :admindashboard do %>
              		<span class="glyphicon glyphicon-stats" style="vertical-align:left"></span> Admin Dashboard
              		<% end %>
              	</li>
              	<li><%= link_to apptypes_path do %>
              		<span class="glyphicon glyphicon-th" style="vertical-align:left"></span> AppTypes
              		<% end %>
              	</li>
              	<li><%= link_to tags_path do %>
              		<span class="glyphicon glyphicon-tags" style="vertical-align:left"></span> Tags
              		<% end %>
              	</li>
              	<li><%= link_to jumpsizes_path do %>
              		<span class="glyphicon glyphicon-th-list" style="vertical-align:left"></span> Size & Length
              		<% end %>
              	</li>
              	<li><%= link_to nmapfiles_path do %>
              		<span class="glyphicon glyphicon-eye-open" style="vertical-align:left"></span> Nmap Scans
              		<% end %>
              	</li>
              </ul>
            </li>
			
        </div>
      
      </div>
    </div>
  </div>
