
  <div class="bs-docs-section clearfix">
  	 <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
            </div>
 		</div>
 	</div>
 </div>
 
 <div class="navbar navbar-default navbar-fixed-top">
 	<div class="navbar-inner">
      <div class="container">
        <div class="navbar-header">
	         <% if user_signed_in? %>	         	
	         	<%= link_to image_tag("medium_jumpsquares_logo.png", :height => '25', :width => '25'), :userroot, class: "navbar-brand" %>
	         	<%= link_to "JumpSquares", :userroot, class: "navbar-brand" %>
	       	 <% else %>
	        	<%= link_to image_tag("medium_jumpsquares_logo.png", :height => '25', :width => '25'), :root, class: "navbar-brand" %>
	         	<%= link_to "JumpSquares", :root, class: "navbar-brand" %>
	         <% end %>
         
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
        
      <% if user_signed_in? %>
        <div class="navbar-collapse collapse pull-right nav-collapse" id="navbar-main">              
          <ul class="nav navbar-nav">
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="settings"><span class="glyphicon glyphicon-plus" style="vertical-align:left"></span><span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="settings">
              	<li><%= link_to "JumpSquare", new_jumpsquare_path %></li>
              	<li><%= link_to "Tag", new_tag_path %></li>
              	<li><%= link_to "AppType Request", new_apptype_request_path %></li>
              	<li><%= link_to "AppType", new_apptype_path %></li>
              	<li><%= link_to "Nmap Scan XML", new_nmapfile_path %></li>
              </ul>
            </li>
            
            <li>
               <li><%= link_to "Help", :help %></li>
            </li>
            
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="settings">Settings <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="settings">
              	<li><%= link_to "AppTypes", apptypes_path %></li>
              	<li><%= link_to "Tags", tags_path %></li>
              	<li><%= link_to "JumpSquare Size", jumpsizes_path %></li>
              	<li><%= link_to "Nmap Scans", nmapfiles_path %></li>
              	<% if current_user.has_role? :admin %>
		        <li><a href="/apptype_requests">All AppType Requests <span class="badge"><%= ApptypeRequest.where(:completed => false ).count %></span></a></li>
		        <% else %>
		        <li><a href="/apptype_requests">AppType Requests <span class="badge"><%= ApptypeRequest.where(:apprequestor => current_user.email, :completed => false).count %></span></a></li>
		        <% end %>	
		        <li><%= link_to "Manage Account", edit_user_registration_path %></li>
		        <% if current_user.has_role? :admin %>
		        <li><%= link_to "Manage Users", users_path %></li>
		        <li><%= link_to "Admin Dashboard", :admindashboard %></li>
		        <% else %>
		        <% end %>
		        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>            
              </ul>
            </li>
		 </ul>	
        </div>
        
      <% else %>
      
	   <div class="navbar-collapse collapse pull-right" id="navbar-main">              
		  <ul class="nav navbar-nav"> 
		  	  <li><%= link_to "/#videotour" do %>
	                	<span class="glyphicon glyphicon-film" style="vertical-align:left"></span> Video Tour
	                <% end %> </li>    
	          <li><%= link_to "/#why" do %>
	                	 Why?
	                <% end %></li> 		 
	          <li><%= link_to  new_user_registration_path, :method => :get do %>
	                	<span class="glyphicon glyphicon-pencil" style="vertical-align:left"></span> Register
	                <% end %></li>
		      <li><%= link_to  new_user_session_path, :method => :get do %>
	                	<span class="glyphicon glyphicon-user" style="vertical-align:left"></span> Login
	                <% end %></li>		            	
		  </ul> 
	   </div>
      <% end %>
     
      </div>
    </div>
  </div>
