<!DOCTYPE html>

  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
		<%= render 'layouts/header' %>
    <div class="container">
      		 	 <!--[if IE]>
<center><b>Are you wondering why this site looks like garbage? <br>
	It's because you are using Internet Explorer. <br>
	Use a browser with standards, preferebly Firefox.</b></center>
	<![endif]-->
      	<center>  	 
	      	<div class="alert alert-warning alert-dismissable hide" style="width:400px">
	            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	            <%= notice %><%= alert %>
	        </div>
       </center>
       
      	<%= yield %>
     </div>
      	<script>
	      $(function (){
	      	$('.dropdown-toggle').dropdown();
	        $('.popover-with-html').popover({ html: true, trigger: "hover", delay: 250});
	        
			$(".alert").delay(400).addClass("in");
			$("[rel=tooltip]").tooltip({ placement: 'bottom'});
	      });
	    </script>
      
    </div>
   		<%= render 'layouts/footer' %>
  </body>
</html>